<!DOCTYPE html>
<html>
  <title>Trip Planner - {% block title %}{% endblock %}</title>
  <head>
    <!-- Stylesheets go here! -->

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/firstyo.css" rel="stylesheet">

  </head>
  <body>

    {% block content %}
    {% endblock %}

    <!-- Script tags go here! -->
    <script src='jquery/jquery.min.js'></script>
    <script src='bootstrap/js/bootstrap.min.js'> </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzJLR9YaLbXKud-iG977z-y7H_l8sbUXs&sensor=true"></script>
    <script src='/js/mapFunction.js'></script>

  </body>
</html>
